* {
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    min-height: 10vh;
    margin: 0;
}

.wrapper{
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.mountain{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10rem solid transparent;
    border-right: 10rem solid transparent; ;
    border-bottom: 10rem solid lightblue;
    bottom: 0;
    left: calc(50% - 10rem);
    
}

.mountain2{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12rem solid transparent;
    border-right: 12rem solid transparent; ;
    border-bottom: 12rem solid lightblue;
    bottom: 0;
    left: calc(50% - 20rem);
}

.mountain3{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10rem solid transparent;
    border-right: 10rem solid transparent; ;
    border-bottom: 12rem solid lightblue;
    bottom: 0;
    right: calc(50% - 20rem);
}

.cloud {
    position: relative;
    top: 50%;
    left: 50%;
    width: 10rem;
    height: 6rem;
    border-radius: 4rem; 
    animation-name: Clouds ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.cloud span {
    position: absolute;
    background-color: gray; 
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

.cloud >span:nth-child(1) {
    height: 50px;
    width: 150px;
    border-radius: 100px;
    bottom: 4rem;
}

.cloud >span:nth-child(2) {
    bottom: 4rem;
    
}

.cloud span:nth-child(3) {
    width:  80px;
    height: 80px;
    bottom: 5rem;
    left: 2.6rem;
   
}

@keyframes Clouds {
    0% {
        transform: translateX(100vh);
    }
    100% {
        transform: translateX(-100vh);
    }
}



.cricle {
    position: relative;
}

.cricle span {
    position: absolute;
    background-color: orange;
    border-radius: 50%;
    top: 100%;
    width: 8rem;
    height: 8rem;
    animation-name: sunMove ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    
}

@keyframes sunMove {
    0%{
        left:calc(50% - 4rem);
        top: 10vh;
    }
    100%{
        top: 100vh;
        left:calc(50% - 4rem);
    }
}





